@model List<OnlineShop2022.Models.OrderViewModel>

@{
    
    DateTime displaytime;
}


<div class = "d-flex ">
    <div class="">
        <h3 class="">Your Orders</h3>
    </div>

    <div class="ms-auto ">
        <a class="btn btn-secondary dropdown-toggle end" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @ViewBag.filterContent
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            @if (ViewBag.filterContent == "This year")// shows orders in the current year
            {
                <form asp-action="Index" method="post">
                    <input type="hidden" name="filter" value="last 60 days" />
                    <input type = "submit" class="dropdown-item" value = "last 60 days">
                </form>
            }
            @if (ViewBag.filterContent == "last 60 days")// shows orders in the last 2 months
            {
                <form asp-action="Index" method="post">
                    <input type="hidden" name="filter" value="This year" />
                    <input type ="submit" value = "This year" class="dropdown-item" >
                </form>
            }
            
        </div>
    </div>
</div>

@foreach (var item in Model)//prints out each order
{ 
    <div class="pb-4">
        <div class = "d-flex">
            <div class="pe-5"><p>Order ID: @item.id</p></div>
            <div class="pe-3"><p>Order Made: @item.ordertime.ToString("dd MMMM, yyyy") at @item.ordertime.ToString("h:mm tt")</p></div>
            <div class="ms-auto"><p>Order Total: £@item.price</p></div>
        </div>
        <div class="underline"></div>

        @foreach(var item2 in item.products)//prints out each order item in the order
        {
            <div class = "ms-3 d-flex pt-2 pb-2">
                <div class="pe-5">
                    <p>Product name: @item2.ProductName</p>
                </div>
                <div class="pe-5">
                    <p>Quantity: @item2.quantity</p>
                </div>
                <div class="pe-5">
                    @if(item2.quantity == 1)//if there there is only one item display just the price
                    {
                        <p>Price: £@item2.price</p>
                    }
                    @if(item2.quantity > 1) //if there there is only one item display the price each
                    {
                        <p>Price: £@item2.price (per item)</p>
                    }
                </div>
                <div class="ms-auto">
                    <img height ="300" class=""  src="@item2.imageuri" />
                </div>
            </div>
            
            if(item.ordertime.AddDays(7) <= DateTime.Now)// assume its not deliverd more then a week
            {
                <h6>Item Delivered </h6>
                
                if(item.ordertime.AddDays(60) <= DateTime.Now)//if the order is more then 2 months they cannot refund a item
                {
                    <p>The Two month refund period has expired</p>
                }
                if(item.ordertime.AddDays(60) >= DateTime.Now && item2.RequestMade == false) //if the order is less then 2 months and a refund request is not present they can refund a item
                {
                    <a class="btn btn-primary" asp-route-id="@item2.Id" asp-controller = "CustomerRefund" asp-action ="Index">Refund Item</a>
                }
                if(item2.RequestMade == true)// if a refund request has been made show the progress of it
                {
                    if(item2.Refunded == false && item2.RefundRejected == false)// if the refund is awaiting a reply say its in progress 
                    {
                        <p>we have recived your refund request and will get back to you soon</p>
                    }
                    if(item2.Refunded == true && item2.RefundRejected == false)// if the items refund has been accepted tell them they will recive there money
                    {
                        <p>Your item has been accepted for refund you will recive your money back</p>
                    }
                    if(item2.Refunded == false && item2.RefundRejected == true)// if the refund has been delined tell the user it has been rejected
                    {
                        <p>Your refund has been rejected</p>
                    }
                    
                }
            }
            if(item.ordertime.AddDays(7) >= DateTime.Now)// assume its not deliverd when under a week
            {
                <h6>Item on its way</h6>
            }
            <div class="underline pb-2"></div>
        }
            
    </div>
}
